{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLibrary</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-slate-white">
    <header>
        <nav class="h-[10vh] bg-gradient-to-br from-lime-100  via-lime-200 to-lime-300 flex flex-row items-center justify-between px-[5vw]">
            <a href="{% url 'Home' %}">
                <img src="{% static 'core/logo.png' %}" alt="" class="h-[8vh] object-cover hover:cursor-pointer">
            </a>
            <ul class="flex flex-row items-center justify-end gap-15 text-xl text-lime-800">
                <li class="hover:scale-105 transition-transform font-semibold">
                    <a href="{% url 'Catalogo' %}">Catalogo</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff is False %}
                        <li class="hover:scale-105 transition-transform font-semibold">
                            <a href="{% url 'Favoritos' %}">Favoritos</a>
                        </li>
                    {% endif %}
                    <li class="hover:scale-105 transition-transform font-semibold">
                        <a href="{% url 'Cerrar-sesion' %}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li class="hover:scale-105 transition-transform font-semibold">
                        <a href="{% url 'Inicio-sesion' %}">Iniciar sesion</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>