{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% if libros %}
<main class="h-[90vh] py-[5vh] px-[31vw]">
    <section class="h-full p-3 shadow-sm shadow-lime-700">
        <div class="h-full w-full overflow-y-scroll">
            <div class="min-h-full flex flex-col gap-2">
                {% for libro in libros %}
                    <article class="h-[20vh] w-full bg-gradient-to-br from-lime-100  via-lime-200 to-lime-300 flex flex-row  hover:contrast-75 hover:cursor-pointer relative">
                        <img src="{{libro.portada}}" alt="" class="w-[9vw]">
                        <div class="flex flex-col h-full py-[2vh] px-[1vw] ">
                            <h1 class="text-xl font-extralight">{{libro.titulo}}</h1>
                            <h2 class="text-sm font-semibold">De {{libro.autor}}</h2>
                        </div>
                        <a href="{% url 'Quitar-marcado' libro.id %}?siguiente={% url 'Favoritos' %}" class="absolute bottom-3 right-5">
                            <img src="{% static 'core/close-circle.svg' %}" alt="" class="h-[6vh] w-[3vw] contrast-50 hover:scale-105 hover:contrast-105 transition-transform">
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% else %}
<main class="h-[90vh] px-[10vw]">
    <section class="h-full flex flex-col justify-center">
        <h1 class="text-6xl text-center font-semibold">
            No tienes libros marcados como favoritos.
        </h1>
    </section>
</main>
{% endif %}
{% endblock %}