{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<main class="h-[90vh] w-full relative">
    <img src="{% static 'core/Books.jpg' %}" alt="" class="h-full w-full">
    <div class="flex flex-col gap-4 absolute top-50 left-30">
        <h1 class="text-5xl text-lime-50">¿Estas buscando un libro?</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                <input name="titulo" type="search" placeholder="Buscar libro" class="h-[6vh] w-[30vw] bg-white text-black rounded-l-md px-[1vw] shadow-sm shadow-lime-50">
                <button class="h-[6vh] w-[10vw] bg-gradient-to-r from-lime-400 via-lime-500 to-lime-500  text-white rounded-r-md hover:scale-105 transition-transform hover:cursor-pointer hover:contrast-75">
                    Buscar
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}